<h1>Login to Bar Talk</h1>
<div class="container">
    <%= form_tag('/login') do %>
        <%= label_tag "Username" %>
        <%= text_field_tag :username %>
        <br><br>
        <%= label_tag "Password" %>
        <%= password_field_tag :password %>
        <br><br>
        <%= submit_tag "Log In", class: "crud_button" %>
    <% end %>
    <br>
    <%= link_to "Log In with Google", '/auth/google_oauth2', id: "google" %>
    <br><br>
    <%= link_to "Home", root_path, class: "session" %>
    <br>
    <%= link_to "Signup", signup_path, class: "session" %>
</div>