<h1>Most Popular Recipes</h1>

<ol>
<% @recipes.each do |r| %>
    <li><%= link_to "#{r.name} by #{r.user.username}", cocktail_path(r.cocktail) %><br>
    <i>Ingredients:</i> <%= r.ingredients %><br>
    <i>Garnish:</i> <%= r.garnish %><br>
    <i>Notes:</i> <%= r.notes %></li><br>
    <% if r.user != current_user %>
        <div class="vote">
            <strong>Vote: </strong>
            <%= button_to '↑', like_recipe_path(r), method: :put, id: "vote-up" %>
            <%= button_to '↓', dislike_recipe_path(r), method: :put, id: "vote-down" %>
        </div>
    <% end %><br><br></li>
<% end %>
</ol>