<h1><i>The <%= @cocktail.name %> (<%= @cocktail.spirit.name %>)</i></h1>

<% if @user_recipes.exists? %>
    <h4><i>Your <%= pluralize_without_count(@user_recipes.size, "Recipe")%>:</i></h4>
    <% @user_recipes.each_with_index do |r, i| %>
        <strong><i>Variation #<%= i + 1 %>:</i></strong><br>
        <% if highest_rated_recipes.include?(r) %>
            <strong>* Popular Recipe *</strong><br>
        <% end %>
        <i>Ingredients:</i> <%= r.ingredients %><br>
        <i>Garnish:</i> <%= r.garnish %><br>
        <i>Notes:</i> <%= r.notes %></li><br>
               
        <%= button_to 'Edit', edit_recipe_path(r), method: 'get'%>
        <%= button_to 'Delete', recipe_path(r), method: 'delete', data: { confirm: 'Are you sure?' } %>            
        <br><br>
    <% end %>
<% end %>

<% if @other_recipes.exists? %>
    <h4>Other Users' Recipes: </h4>
    <ol>
        <% @other_recipes.each do |recipe| %>
            <li><%= link_to recipe.user.username, user_recipes_path(recipe.user) %>'s Recipe:<br><br>
            <% if highest_rated_recipes.include?(recipe) %>
                <strong>* Popular Recipe *</strong><br>
            <% end %>
            <i>Ingredients:</i> <%= recipe.ingredients %><br>
            <i>Garnish:</i> <%= recipe.garnish %><br>
            <i>Notes:</i> <%= recipe.notes %></li>
            <strong>Vote: </strong><%= button_to '↑', like_recipe_path(recipe), method: :put %><%= button_to '↓', dislike_recipe_path(recipe), method: :put %>
        <% end %>
    </ol>
<% end %>
<br>
<%= link_to "Add a Recipe to this Cocktail", new_cocktail_recipe_path(@cocktail) %>