<h1><i>The <%= @cocktail.name %></i></h1>

<% if @user_recipes.exists? %>
<h4>Your Recipe: </h4>
<%= link_to current_user.username, user_path(current_user) %>'s Recipe:<br><br>
<i>Ingredients:</i> <%= @user_recipes[0].ingredients %><br>
<i>Garnish:</i> <%= @user_recipes[0].garnish %><br>
<i>Notes:</i> <%= @user_recipes[0].notes %></li><br>
<br>
<%= button_to "Edit", action: "/recipes/#{@user_recipes[0].id}/edit" %> | <%= button_to "Delete", { action: "/recipes/destroy", id: @user_recipes[0].id }, method: :delete, data: { confirm: "Are you sure?" } %>
<% end %>



<br>
<h4>Other Users' Recipes: </h4>
<ol>
<% @other_recipes.each do |recipe| %>
<li>
<%= link_to recipe.user.username, user_path(recipe.user) %>'s Recipe:<br><br>
<i>Ingredients:</i> <%= recipe.ingredients %><br>
<i>Garnish:</i> <%= recipe.garnish %><br>
<i>Notes:</i> <%= recipe.notes %></li><br>
<% end %>
</ol>