<% if @recipe.errors.any? %>
  <div id="error_explanation" style="color:red;">
    <h3>
      <%= pluralize(@recipe.errors.count, "error") %>
      prohibited this recipe from being saved:
        <ul>
            <% @recipe.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
    </h3>
  </div>
<% end %>

<h1>Edit Recipe</h1>

<h2><i>The <%= @cocktail.name %> (<%= @cocktail.spirit.name %>)</i></h2>

<%= form_for @recipe do |f| %>

    <%= f.hidden_field :name, value: @cocktail.name %>
    <%= f.hidden_field :spirit_name, value: @cocktail.spirit.name %>
    <br>

    <%= f.label :ingredients %>
    <%= f.text_area :ingredients %>
    <br>

    <%= f.label :garnish %>
    <%= f.text_field :garnish %>
    <br>

    <%= f.label :notes %>
    <%= f.text_area :notes %>
    <br>
    
    <%= f.submit "Update Recipe" %>
<% end %>