<% if @user == current_user %>
    <h1><i>Your Recipes: </i></h1>
<% else %>
    <h1><i><%= @user.username %>'s Recipes</i></h1>
<% end %>
<ol>
<% @recipes.each do |r| %>
    <li><i><%= link_to r.name, cocktail_path(r.cocktail) %></i><br><br>
    <i>Ingredients:</i> <%= r.ingredients %><br>
    <i>Garnish:</i> <%= r.garnish %><br>
    <i>Notes:</i> <%= r.notes %></li><br>
<% end %>
</ol>