<h1>Other Users' Recipes</h1>
<% @users.each do |u| %>
    <% if !u.recipes.empty? %>
        <h3><%= link_to u.username, user_path(u) %>'s Recipes</h3>
        <ol>
        <% u.recipes.each do |r| %>
            <% if Recipe.highest_rated_recipes.include?(r) %>
                <strong>* Popular Recipe *</strong><br><br>
            <% end %>
            <li><strong><%= link_to r.name, cocktail_path(r.cocktail) %></strong><br>
            <i>Ingredients:</i> <%= r.ingredients %><br>
            <i>Garnish:</i> <%= r.garnish %><br>
            <i>Notes:</i> <%= r.notes %></li><br>

            <div class="vote">
                <strong>Vote: </strong>
                <%= button_to '↑', like_recipe_path(r), method: :put, id: "vote-up" %>
                <%= button_to '↓', dislike_recipe_path(r), method: :put, id: "vote-down" %>
            </div><br><br>
        <% end %>    
        </ol>
    <% end %>
<% end %>