<%= content_tag :h1, @user.username %>
<%= content_tag :h3, "Your Recipes:" %>
<ol>
<% @recipes.each do |recipe| %>
    <li><%= link_to recipe.cocktail.name, cocktail_path(recipe.cocktail) %></li>
<% end %>
</ol>
<br>
<%= link_to "Add a New Recipe", new_user_recipe_path %>
<br>
<%= link_to "See All Cocktails", cocktails_path %>
