<!DOCTYPE html>
<html>
  <head>
    <title>BarTalk</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if flash[:message] %>
    <h4 style="color:red;"><%= flash[:message] %></h4>
  <% elsif flash[:success] %>
    <h4 style="color:green;"><%= flash[:success] %></h4>
  <% end %>
  
  <% if logged_in? %>
    <div class="nav">
      <%= link_to "Profile", user_path(current_user) %>
      <%= link_to "New Recipe", new_user_recipe_path(current_user.id) %>
      <%= link_to "All Cocktails", cocktails_path %>
      <%= link_to "Other Users' Recipes", others_path %>
      <%= link_to "Logout", logout_path, method:"delete" %>
    </div>
  <% end %>
    <%= yield %>
  </body>
</html>
