<!DOCTYPE html>
<html>
  <head>
    <title>BarTalk</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if flash[:message] %>
    <h4 style="color:red;"><%= flash[:message] %></h4>
  <% elsif flash[:success] %>
    <h4 style="color:green;"><%= flash[:success] %></h4>
  <% end %>
  <%= content_tag :div, @error, style: "color:red;" %>
  
  <% if logged_in? %>
    <ul class="nav">
        <li><%= link_to "Profile", user_path(current_user) %></li>
        <li><%= link_to "New Recipe", new_user_recipe_path(current_user) %></li>
        <li><%= link_to "All Cocktails", cocktails_path %></li>
        <li>
          <%= form_tag('/spirits/search') do %>
            <%= search_field_tag 'Search' %>
          <% end %>
        </li>
        <li><%= link_to "All Recipes", recipes_path %></li>
        <li><%= link_to "Highest Rated", popular_path %></li>
        <li><%= link_to "Other Users' Recipes", others_path %></li>
        <li><%= link_to "Logout", logout_path, method:"delete" %></li>
    </ul>
  <% end %>
  <br>
    <%= yield %>
  </body>
</html>
